In [1]:
import pandas as pd
#1. Write a Pandas program to create and display a one-dimensional array-like
# containing an array of data using Pandas module.

data = pd.Series([1,2,3,4,5,6,7,8,9])
data

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [6]:
#2. Write a Pandas program to convert a Panda module Series to Python list and it's type.
import pandas as pd

data1 = pd.Series([1,2,3,4,5,6,7,8])
print('Pandas series and type')
print(data1)
print(type(data1))
#convert series to python list
print('Convert pandas list to python list')
print(data1.tolist())
print(type(data1.tolist()))

Pandas series and type
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
<class 'pandas.core.series.Series'>
Convert pandas list to python list
[1, 2, 3, 4, 5, 6, 7, 8]
<class 'list'>

In [11]:
import pandas as pd
#3.Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
data1 = pd.Series([2,4,6,8,10], index = [0,1,2,3,4])
data2 = pd.Series([1,3,5,7,9], index = [0,1,2,3,4])
#add Series
data1 + data2

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [12]:
import pandas as pd
#Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
data1 = pd.Series([2,4,6,8,10], index = [0,1,2,3,4])
data2 = pd.Series([1,3,5,7,9], index = [0,1,2,3,4])
#substract Series
data1 - data2

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [13]:
import pandas as pd
#Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
data1 = pd.Series([2,4,6,8,10], index = [0,1,2,3,4])
data2 = pd.Series([1,3,5,7,9], index = [0,1,2,3,4])
#multiply Series
data1*data2

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [14]:
import pandas as pd
#Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
data1 = pd.Series([2,4,6,8,10], index = [0,1,2,3,4])
data2 = pd.Series([1,3,5,7,9], index = [0,1,2,3,4])
#devide Series
data1/data2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [1]:
#4.Write a Pandas program to compare the elements of the two Pandas Series.
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]
import pandas as pd

A1 = pd.Series([2.5, 4, 6, 8, 10, 1.75, 40])
A2 = pd.Series([1.5, 3, 5, 7, 10, 1.75, 20])

print(A1==A2)

print(A1!=A2)

0    False
1    False
2    False
3    False
4     True
5     True
6    False
dtype: bool
0     True
1     True
2     True
3     True
4    False
5    False
6     True
dtype: bool

In [2]:
#5.Write a Pandas program to convert a dictionary to a Pandas series. 
import pandas as pd

A1 = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

print('Original Dictionary')
print(A1)

new_A1 = pd.Series(A1)
print('Converted Series')
print(new_A1)

Original Dictionary
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted Series
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [3]:
#6.Write a Pandas program to convert a NumPy array to a Pandas series. 
import numpy as np 
import pandas as pd

A1 = np.array([10,20,30,40,50])

print('Numpy Array')
print(A1)

new_Array = pd.Series(A1)

print('Converted Panda Array')
print(new_Array)

Numpy Array
[10 20 30 40 50]
Converted Panda Array
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [4]:
#7. Write a Pandas program to change the data type of given a column or a Series. 
import numpy as np 
import pandas as pd

A1 = pd.Series(['100','200','python','300.12','400'])

print('Original Data set')
print(A1)

new_series = pd.to_numeric(A1, errors='coerce')

print('Converted Series')
print(new_series)

Original Data set
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Converted Series
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [5]:
#8.Write a Pandas program to convert the first column of a DataFrame as a Series. 
import pandas as pd
import numpy as np
A1 = {'col1': [1,2,3,4,7,11], 'col2': [4,5,6,9,5,0], 'col3': [7,5,8,12,1,11]}
df = pd.DataFrame(data=A1)
print('Original DataFrame')
print(df)

print('Using iloc')

new_series = df.iloc[:,0]
print('New Series')
print(new_series)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
Using iloc
New Series
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [7]:
#9.Write a Pandas program to convert a given Series to an array.
import numpy as np
import pandas as pd

A1 = pd.Series(['100','200','python','300.12','400'])
print('Original Data Series')
print(A1)
print('Series to an Series:')
A2 = A1.values
print(A2)
print(type(A2))

Original Data Series
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to an Series:
['100' '200' 'python' '300.12' '400']
<class 'numpy.ndarray'>

In [8]:
#10.Write a Pandas program to create a dataframe from a dictionary and display it.
#Sample data: {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
import pandas as pd
import numpy as np
A1 = pd.DataFrame({'X' : [78,85,96,80,86],'Y' : [84,94,89,83,86],'Z' : [86,97,96,72,83]})
print('Original Data Frame')
print(A1)

Original Data Frame
    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [9]:
#11.Write a Pandas program to create and display a DataFrame from a specified #dictionary data which has the index labels.
#Sample Python dictionary data and list labels:
#exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
#'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
#'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
#'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
#labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

import pandas as pd
import numpy as np
exam_data = {'Name':['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score':[12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify' : ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)
print(df)

        Name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [11]:
#12.Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.
#Sample Python dictionary data and list labels:
#exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
#'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
#'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
#'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
#labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

import pandas as pd
import numpy as np

exam_data = {'Name':['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score':[12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify' : ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data,index=labels)
print('Infomation of the dataframe:')
print(df.info())

Infomation of the dataframe:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [12]:
#13.Write a Pandas program to get the first 3 rows of a given DataFrame.
#Sample Python dictionary data and list labels:
#exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
#'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
#'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
#'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
#labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

import pandas as pd
import numpy as np

exam_data = {'Name':['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score':[12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify' : ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data,index=labels)
print('First three column of the data Frame:')
print(df.iloc[:3])

First three column of the data Frame:
        Name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [14]:
#15.Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.
#Sample Python dictionary data and list labels:
#exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
#'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
#'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
#'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
#labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

import pandas as pd
import numpy as np

exam_data = {'Name':['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score':[12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify' : ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data,index=labels)

print(df[['Name','score']])

        Name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [16]:
#16.Write a Pandas program to select the specified columns and rows from a given data frame.
#Sample Python dictionary data and list labels:
#Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.
#exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
#'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
#'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
#'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
#labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

import pandas as pd
import numpy as np

exam_data = {'Name':['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score':[12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify' : ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data,index=labels)
print('Print Specific column and rows')
print(df.iloc[[1,3,5,6],[1,3]])

Print Specific column and rows
   score qualify
b    9.0      no
d    NaN      no
f   20.0     yes
g   14.5     yes

In [17]:
#17.Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.
#Sample Python dictionary data and list labels:
#exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
#'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
#'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
#'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
#labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

import pandas as pd
import numpy as np

exam_data = {'Name':['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score':[12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify' : ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data,index=labels)
print('Print Number of attempts in the examination is greater than 2: ')
print(df[df['attempts'] > 2])

Print Number of attempts in the examination is greater than 2:
      Name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

In [18]:
#18 Write a Pandas program to count the number of rows and columns of a DataFrame.
#Sample Python dictionary data and list labels:
#exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
#'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
#'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
#'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
#labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

import pandas as pd
import numpy as np

exam_data = {'Name':['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score':[12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify' : ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data,index=labels)
total_rows=len(df.axes[0])
total_cols=len(df.axes[1])
print('Number of rows:',total_rows)
print('Number of cols:',total_cols)

Number of rows: 10
Number of cols: 4

In [19]:
#19.Write a Pandas program to select the rows where the score is missing, i.e. is NaN.
#Sample Python dictionary data and list labels:
#exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
#'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
#'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
#'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
#labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

import pandas as pd
import numpy as np

exam_data = {'Name':['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score':[12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify' : ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data,index=labels)
print('Where the score is missing')
print(df[df['score'].isnull()])

Where the score is missing
    Name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [20]:
#20 Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).
#Sample Python dictionary data and list labels:
#exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
#'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
#'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
#'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
#labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

import pandas as pd
import numpy as np

exam_data = {'Name':['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score':[12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify' : ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data,index=labels)

print('Rows where score between 15 and 20 (inclusive):')
print(df[df['score'].between(15,20)])

Rows where score between 15 and 20 (inclusive):
        Name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes